@font-face {
    font-family: "OldStandardTT-Regular";
    src: url("../Old_Standart_TT/OldStandardTT-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OldStandardTT-Italic";
    src: url("../Old_Standart_TT/OldStandardTT-Italic.ttf") format(truetype);
    font-weight: 400;
    font-style: normal italic;
}

@font-face {
    font-family: "OldStandardTT-Bold";
    src: url("../Old_Standart_TT/OldStandardTT-Bold.ttf") format(truetype);
    font-weight: 800;
    font-style: bold;
}